

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: "JosefinSans";
    src: url("../fonts/josefin-sans/JosefinSans-Bold.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.black{
    
        background: black;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    
   
  
}

.mobile-navbar{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  
    .hamburger-menu{
        
        height: 3rem;
        width: 3rem;
        border:2px solid #80228c;
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center;
        
        
        
    
    .line{
         width: 70%;
         height: 2px;
         background-color: #80228c;
        
    }
}
}
.pc-navbar{
    display: none;
}
.banner{
    font-family: 'Times New Roman', Times, serif;
    .container{
        .row{
            .left{
            display: flex;
            flex-direction: column;
            margin-top: 3rem;

            h2{
                font-size: 40px;
                font-weight: 300;
            }
            .latest{
                padding-top: 10px;
                color: #80228c;
              
            img{
                width: 30px;
                height: 30px;
            }
            }
            .tick{
                width: 30px;
                height: 30px;
            }
            .two-btns{
              display: flex;
             gap: 20px;
           
              .btn-1{
                background: #80228c;
                color: white;
                border: none;
                padding: 10px 20px;
              }   
              .btn-2{
                background: transparent;
                color: #80228c;
                border: 2px solid #80228c;
                padding: 10px 20px;
              }
            }
            
        }
        .right{
            .photos{
                gap: 5px;
            
                img{
                    height: 7rem;
                    width: 5rem;
                }
                .img-1{
                    margin-top: 5%;
                }
            }
        }
    }
    }
}
.about{
    font-family: 'Times New Roman', Times, serif;
    
    padding-top: 5rem;
    .container{
        .row{
            
            .left{
             .text-left{
                width: 25rem;
             }
            .imgs{
               
                img{
                height: 30rem;
                width: 30rem;
                padding: 10px;
            }
               
            }
            }
            .right{
                .text{
                    margin-top: 1rem;
                    width: 25rem;
                    
                }
                img{
                    // padding-top: 5%;
                    height: 1rem;
                    width: 20rem;
                }
                button{
                    margin-top: 1rem;
                    background: #80228c;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                }
            }
        }
    }
}
.pics{
    .trust{
        height: 60vh !important;
       
    }
}
.three{
    width: 26rem;
}


.services{
    font-family: 'Times New Roman', Times, serif;
   margin-top: 3%;
   display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 h1{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
 }
.events{
   margin-top: 1rem;
   background-image: url(../imgs/Rectangle\ 27.png);

   background-size: cover ;
   background-repeat: no-repeat;
   background-position: center;
   height: 60px;
   width: 358px;
   display: flex;
   justify-content: flex-end;
   position: relative;
   margin-right: 4%;
  margin-top: 
    1rem;
    background-image: url(../imgs/Rectangle\ 27.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 358px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 4%;

   p{
    color: white;
    position: absolute;
    right: 45%;
    bottom: 0;
   }

}
img{
    width: 4rem;
    height: 4rem;
    background-color: #80228c;
    bottom: 1px;
    right: 1px;
    position: absolute;

}
.digitalservices{
    margin-top: 
    1rem;
    background-image: url(../imgs/Screen\ Shot\ 2022-11-24\ at\ 11.35.23.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 358px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 4%;
    img{
        color: #fff;
        background: #fff;

    }
    

}
.girl{
margin-top: 1rem;
background-image: url(../imgs/Rectangle\ 47.png);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 60vh;
width: 358px;
display: flex;
align-items: center;
justify-content: flex-end;
position: relative;

        
}
}







.clients{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5rem;
    .container{
        .row{
           .left{display: flex;
            flex-direction: column;
            align-items: end;
            padding-right: 0px;
           .texts{
            p{
                margin-left: -100px !important;
            }
           }

            
           .img{
            height: 50vh;
            width: 100%;
           }
           .text{
            width: 15rem;
           
           .one{
            padding-top:30px ;
            padding-left: 90px;
           }
           .two{
            padding-top: 15px;
            padding-left: 90px;
           }
           .three{
            padding-top: 10px;
            padding-left: 95px;
           }
        }
           } 
           .right{
            .bride{
                height: 50vh;
                width: 30rem;
                padding-top: 20px;
                margin-left: -20px;
            }
            .text{
                width: 15rem;
                .one{
                    padding-top: 10px;
                }
                .two{
                    padding-top: 10px;
                }
                .three{
                    padding-top: 10px;
                }
            }
           }
        }
    }
   
}
.gallery{
    font-family: 'Times New Roman', Times, serif;
    .container{
        .row{
            gap: 5px;
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                   
                    font-style: italic;
                }
            }
            img{
                
                height: 20rem;
                width: 100%;
            }
            .photo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h4{
                padding-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btns-1{

                display: flex;
                justify-content: center;
                align-items: center;
            .btn-3{
                background: #80228c;
                color: #fff;
               
                padding: 10px 15px;
                border: none;
            }
        }
        }
    }
}
.footer{
    font-family: "JosefinSans";
    background: #80228c;
    color: #fff;
    margin-top: 3rem;
    padding: 0 3rem;

    .t{
        text-decoration: underline;
        font-weight: 700;
    }
    .row{
        .left{
            .icons{
           display: flex;
           gap: 3rem;
            }

        }
        .center{
            .textt{
                display: flex;
                flex-direction: column;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
       .right{
         .icons2{
            display: flex;
            align-items: center;
            gap: 3rem;
            size: 2px;
         }
       } 
    }
}





/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
    .gallery{
        font-family: 'Times New Roman', Times, serif;
        .container{
            .row{gap: 0;
                img{
                    
                    height: 20rem;
                    width: 8rem;
                }
                .photo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h4{
                    padding-top: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .btns-1{
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                .btn-3{
                    background: #80228c;
                    color: #fff;
                   
                    padding: 10px 15px;
                    border: none;
                }
            }
            }
        }
    } 
    .services{
        font-family: 'Times New Roman', Times, serif;
        
         gap: 20px;
        
        .flexcontainer{
            .row{
    
               
                .cards{
                
                 .frst{
                    height: 60vh;
                    padding-right: 20px;
                    width: 35%;
                 }  
                 .sec{
                    height: 60vh;
                    padding-right: 20px;
                    width: 35%;
                    
                }
                .thrd{
                    height: 60vh;
                    width: 30%;
                }
            }
        }
    }
    }
    .mobile-navbar{
        display: none;
    }
.pc-navbar{
       font-family: 'Times New Roman', Times, serif;
    display: block;
    .flex-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-weight: 600;
          

            li{
                color: var(--secondary-color);
                font-size: 20px;
                span{
                    color: #80228c;
                }
            }
            .dark-icon{
                height: 30px;
                width: 30px;
                background: var(--secondary-color);
                border-radius: 50%;
            }
        }
        .img-2{
            background-color: #fff;
            height: 50px;
            width: 50px;
        }
    }

}


.banner{
    .container{
        .row{
            .right{
               
                .photos{
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                  
    
                    img{

                        height: 20rem;
                        width: 8rem;
                    }
                    .img-1{
                        margin-top: 5%;
                    }
                }  
            }
            .left{
                .btn-2{
                    background: transparent;
                
                border: 2px solid #80228c;
                padding: 10px 20px; 
                }
            }
        }
    }

}
.about{
    .container{
       .row{
        display: flex;
            .left{
          p{
           margin-left: 8rem; 
           }
            .imgs{
                margin-left: 8rem; 
                display: flex;
                flex-direction: row;
                height: 20rem;
                width: 3rem;
                .image{
                    margin-top: 10rem;
                }
            }
            }
            .right{
              .pics{
                img{
                    height: 20rem;
                    width: 80%;
                }
              }
            }
        }
    }
}
.about{
    padding-top: 5rem;
    .container{
        .row{
            
            .left{
             .text{
                width: 20rem;
             }
            .imgs{
              
                img{
                height: 17rem;
                width: 17rem;
            }
               
            }
            }
            .right{
                .text{
                    margin-top: 2rem;
                    width: 25rem;
                    
                }
                img{
                    
                    height: 1rem;
                    width: 20rem;
                }
                button{
                    margin-top: 0rem;
                    background:#80228c;
                    color: white;
                    padding: 6px 20px;
                    border: none;
                }
            }
        }
    }
}
.pics{
    .right-img{
        height: 60vh !important;
       
    }
}
.three{
    width: 26rem;
}
.services{
    
     padding-left: 13rem;
     padding-top: 5rem;
     gap: 20px;
    
    .flexcontainer{
        .row{

            h3{
                margin-left: -120px;
            }
           
            .cards{
            
             .frst{
                height: 60vh;
                padding-right: 20px;
             }  
             .sec{
                height: 60vh;
                padding-right: 20px;
                
            }
            .thrd{
                height: 60vh;
                width: 20%;
            }
        }
    }
}
}
.clients{
    padding-top: 5rem;
    .container{
        .row{
           .left{display: flex;
            flex-direction: column;
            align-items: end;
            padding-right: 90px;
           .texts{
            p{
                margin-left: -100px !important;
            }
           }

            
           img{
            height: 50vh;
            width: 26rem;
           }
           .text{
            width: 15rem;
           
           .one{
            padding-top:30px ;
            padding-left: 90px;
           }
           .two{
            padding-top: 15px;
            padding-left: 90px;
           }
           .three{
            padding-top: 10px;
            padding-left: 95px;
           }
        }
           } 
           .right{
            img{
                height: 50vh;
                width: 30rem;
                padding-top: 20px;
                margin-left: -20px;
            }
            .text{
                width: 15rem;
                .one{
                    padding-top: 10px;
                }
                .two{
                    padding-top: 10px;
                }
                .three{
                    padding-top: 10px;
                }
            }
           }
        }
    }
   
}
.gallery{
    .container{
        .row{
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                   
                    font-style: italic;
                }
            }
            .photo{
                margin-top: 7rem;
            }
        }
    }
}
.footer{
    background: #80228c;
    color: #fff;
    margin-top: 3rem;
    padding: 0 3rem;

    .t{
        text-decoration: underline;
        font-weight: 700;
    }
    .row{
        .left{
            .icons{
           display: flex;
           gap: 3rem;
            }

        }
        .center{
            .textt{
                display: flex;
                flex-direction: column;
                gap: 15px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
       .right{
         .icons2{
            display: flex;
            align-items: center;
            gap: 3rem;
            size: 2px;
         }
       } 
    }
}


}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}